@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  /* container */
  .nike-container {
    @apply w-11/12 m-auto;
  }
  
  /* Scroll */
  .scroll-hidden::-webkit-scrollbar{
    display: none;
  }
  .scroll-style::-webkit-scrollbar{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(66, 245, 141) rgb(66, 245, 141); 
  }
  .scroll-style::-webkit-scrollbar{
    @apply w-2;
  }
  .scroll-style::-webkit-scrollbar-track {
    @apply bg-slate-700;
  }
  .scroll-style::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gradient-to-tr from-blue-500 to-green-500 via-teal-500;
  }
   
  /* Theme-Colors */
  .bg-theme {
   background-image: linear-gradient( 0.2deg,  rgba(40, 173, 222,1) 4.8%, rgb(27, 76, 224) 85.5% );
  }
  .bg-theme-cart {
    @apply bg-gradient-to-b from-slate-900 to-gray-900 shadow-sm shadow-gray-900;
  }

  /* Clip-path */
  .clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
  }  
  
  /* Blur-Effect */
  .blur-effect-theme {
    @apply bg-white/50 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-50 opacity-100 z-[100] shadow-sm shadow-slate-100 transition-all duration-300;
  }

  /* Icon Stles */
  .icon-style {
    @apply h-6 w-6 sm:h-5 sm:w-5 text-slate-100 cursor-pointer transition-all duration-100 active:scale-110 leading-tight;
  }

  /* text-gradient */
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-tr from-blue-500 to-sky-500;
  }

  /* border */ 
  .rounded-theme {
    border-radius: 5% 100% 10% 5%;
  }

  /* button */
  .button-theme {
    @apply px-7 py-1 rounded active:scale-90 transition-all duration-100 ease-in-out shadow-md sm:text-sm;
  }

  /* tranistions-theme */
  .transitions-theme {
    @apply transition-all duration-700 ease-in-out cursor-pointer;
  }

}

.product {
  transform: translate3d(-35%, -45%, 0);
  pointer-events: none;
}


/*=============== GOOGLE FONTS ===============*/
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(222, 80%, 58%);
  --dark-color: hsl(222, 24%, 8%);
  --title-color: hsl(222, 8%, 8%);
  --text-color-light: hsl(222, 8%, 65%);
  --white-color: #fff;
  --body-color: hsl(222, 100%, 99%);
  
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --small-font-size: .813rem;
}

@media screen and (min-width: 968px) {
  :root {
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-color);
}

/*=============== SEARCH ===============*/
.container {
  height: 100vh;
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
}

.search {
  position: relative;
  width: 22px;
  height: 22px;
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
  border-radius: 4rem;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__input {
  border: none;
  outline: none;
  width: calc(100% - 64px);
  height: 100%;
  border-radius: 4rem;
  padding-left: 14px;
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}

.search__input:-webkit-autofill {
  box-shadow: 0 0 0 100px var(--white-color) inset;
}

.search__button {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__icon{
  color: var(--white-color);
  font-size: 1rem; /* Adjusted size */
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9); 
}
 .search__close {
  color: var(--black-color);
  font-size: 1rem; /* Adjusted size */
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}

.search__close {
  opacity: 0;
}


/* Search animated */
.show-search {
  width: 200px;
  height: 30px;
   background-color: var(--white-color);
}

.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__button {
  transform: rotate(90deg);
}

.show-search .search__icon {
  opacity: 0;
}

.show-search .search__close {
  opacity: 1;
}
